{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">

<div class="container">

    <p>How we started out: Founded in 2017, three young minds with an ambition to create started a company.</p>

    <h2>Our Mission: to provide people and businesses with high-quality, low cost websites.</h2>

    <p>We value creating quality, cost efficient websites with high security. Customer satisfaction is very important and we want to make sure the website we create is what our clients invision.</p>

</div>


{% include "footer.html" %}
