{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">

<div class="container">

    <!-- section 1 -->
    <h1 class="text-center">SLIDESHOW GOES HERE</h1>
    <p>LOGO</p>
    <p>Simplicity. Originality. Creativity.</p>
    <p>Link us, and we''ll feature you on our social media and website.</p>
    <!-- goes inside slideshow -->

    <!-- section 2 -->
    <p>Simple. Chic. Original.</p>
    <p>Sophisticate your company with a website.</p>

    <!-- section 3 -->
    <h2>You imagine it, we design it.</h2>
    <h2>We'll make your vision a reality.</h2>

    <!-- section 4 -->
    <p>Contact us to create your own custom website.</p>
    <p>We work with you until you are satisfied.</p>


    <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>

</div>


{% include "footer.html" %}
